/*  See https://docs.narrat.dev/guides/theming-the-game-and-ui for info on how to customise your game with CSS. */

#narrat {
  /* Customise CSS variables here. They will override the existing narrat ones. You can also add your own variables */
  --bg-color: #131720;
  --text-color: #d9e1f2;
  --primary: hsl(255, 30%, 55%);
  --focus: hsl(210, 90%, 50%);
  --secondary: #d9e1f2;
  /* You can easily override a CSS style by making it more specific than the original one.
  Any css added here will applied to elements inside of #narrat and be likely more specific than their original version */
}

.auto-button,
.save-button,
#menu-menu-button,
div.settings-category:nth-child(4),
h2.nrt-text,
#setting-fontChoice {
  display: none !important;
}

#system-menu-button {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
}

#engine-splash-logo {
  content: url("/icon.png");
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  transform-style: inherit;
  animation: auto;
  height: auto;
  width: auto;
}

#game-splash-title {
  font-size: 7em !important;
}

.menu-content > h3:nth-child(1) {
  display: none;
}

.tab-active {
  text-shadow: none;
}

.setting-item.setting-focused {
  background: none;
  border: none;
}

.menu-content > div:nth-child(2) {
  margin-top: 50px;
}

.tabs-controller__tabs {
  margin-top: 25px;
}

.dialog-picture {
  background-color: transparent !important;
  border: none;
  right: 700px !important;
  bottom: 0px !important;
  height: 687px !important;
  width: 480px !important;
}

#engine-splash-title {
  font-size: 3.5em !important;
}

.setting-item:hover {
  background: none;
  border: none;
}

/* CRT EFFECT */
.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:
    linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size:
    100% 2px,
    3px 100%;
  pointer-events: none;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.10626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.10626;
  }
  30% {
    opacity: 0.18128;
  }
  35% {
    opacity: 0.23604;
  }
}
